# Ambiente Virtual (ajusta o nome se for diferente)
.venv*/
venv/
env/

# Ficheiros compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Ficheiros de IDEs
.idea/
.vscode/

# Ficheiros de sistema operativo
.DS_Store
Thumbs.db

# Ficheiros de log
*.log

# Ficheiros de configuração local (ex: .env)
.env*
*.env

# Outros
*.local